.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    height: auto;
    min-height: 75vh;
    /* flex-wrap: nowrap; */
}

.main {
    width: 100%;
    height: 100vh;
}

.mainlogo {
    width: 100%;
    height: 100%;
    background-image: url(./assets/logo.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.about,
.setup {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.about {
    background-image: linear-gradient(180deg, #d4d4d47d, #000000);
}

.head {
    color: #ff0000;
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
}

.content {
    font-size: 30px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-weight: 900;
}

.options .op {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.options strong {
    font-style: italic;
}

.platforms {
    font-size: 30px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    gap: 20px;
}

.platforms a {
    text-decoration: none;
    color: #d4d4d4;
    transition: 500ms;
    font-size: 40px;
}

.platforms a:hover {
    color: #ff0000;
    transform: scale(1.2);
}

.platforms .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.setup {
    background-color: #000000;
    height: 100%;
}

.codeblock {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    height: auto;
    padding: 20px;
    background-color: rgba(183, 183, 183, 0.169);
}

.codeblock .copyButton {
    float: right;
    transition: 500ms;
    color: rgb(56, 56, 56);
}

.codeblock .copyButton i {
    cursor: pointer;
    transition: 0.5s;
}

.codeblock .copyButton i:hover {
    transform: scale(1.1);
}

.codeblock .code {
    display: block;
    box-sizing: border-box;
    margin-top: 30px;
    font-size: 20px;
    width: 75%;
    height: auto;
    color: var(--codeblock-text-color);
    word-wrap: break-word;
    left: 0;
    float: left;
    text-align: left;
    margin-left: 60px;
}

.codeblock code span {
    word-wrap: break-word;
}

.keyword {
    color: var(--keyword-color);
}

.string {
    color: var(--string-color);
}

.number {
    color: var(--number-color);
}

.comment {
    color: var(--comment-color);
}

.global {
    color: var(--global-color);
}

.boolean {
    color: var(--boolean-color);
}

.variable,
.object {
    color: var(--variable-color);
}

.object {
    font-style: italic;
}

.class {
    color: var(--class-color);
}

.function {
    color: var(--function-color);
}

.linker {
    background-image: linear-gradient(0deg, #d4d4d434, #000000);
    height: 100%;
    min-height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linker .links {
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 50px;
}

.linker .links .link {
    color: #d4d4d4;
    font-size: 30px;
    text-decoration: none;
    transition: 500ms;
}

.linker .links .link:hover {
    color: #ff0000;
    transform: scale(1.2);
}

.linksbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 720px) {
    .mainlogo {
        background-size: contain;
        height: 75vh;
    }
    .stats .stats {
        font-size: 10px;
    }
    .stats .stat .stathead {
        font-size: 15px;
    }

    .stats .stat .statcontent {
        font-size: 10px;
    }

    .head {
        font-size: 30px;
    }

    .codeblock .code {
        font-size: 10px;
    }

    .opt {
        font-size: 10px;
    }

    .content {
        font-size: 10px;
    }

    .options {
        font-size: 20px;
    }

    .platforms,
    .platforms a {
        font-size: 20px;
    }

    .link {
        font-size: 20px;
    }

    .linker .links .link {
        font-size: 15px;
    }

    .copyright {
        font-size: 10px;
    }

    .linker .links {
        gap: 5px;
    }
    .setup {
        gap: 10px;
    }

    .codeblock .copyButton {
        width: 10px;
        height: 10px;
    }

    #copy {
        font-size: 20px;
    }
}
